.apexcharts-legend {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
  position: absolute !important;
  bottom: 0 !important;
  height: 100px !important;
}
.apexcharts-legend div {
  width: 98% !important;
  padding: 10px 0;
  border-bottom: 1px solid black;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
}
.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center,
.apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
  justify-content: start !important;
}
.apexcharts-legend-text{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: -9px !important;
  padding-right: 5px;
}