.css-qbdosj-Input {
  height: 30px;
}
.css-qbdosj-Input input {
  height: 30px;
}
.css-1dimb5e-singleValue {
  color: #3797d6 !important;
}
.css-1m7qa6c-control {
  color: #3797d6 !important;
}
.css-qbdosj-Input {
  font-size: 15px;
}
