.container{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
 
 }
 
.Head{
    padding: 20px 30px;
    font-size: 30px;
    background: #6FC7FF36;
    border-radius: 18px;
    align-items: center;

}

.HeadMain{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.HeadBody{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.HeadBody li{
   list-style: none;
   margin-right: 15px;
   display: flex;
   align-items: center;
}

.HeadBody li a{
   text-decoration: none;
 } 

.Filter{
    cursor: pointer;
    padding: 13px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px 0px #94A0B740;

}
.FilterActive{
    cursor: pointer;
    padding: 13px;
    border-radius: 50%;
    background: #6FCCFF;
    box-shadow: 0px 5px 16px 0px #94A0B740;

}
.HeadAddButton{
    width: 140px;
    height: 50px;
    border-radius: 16px;
    border: none;
    background: linear-gradient(77.62deg, #0D2E4F 2.96%, #0F5280 63.71%);
    box-shadow: 0px 4px 17px 0px #8693A740;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}
.HeadAddButton:hover{
    background-image: linear-gradient(77.62deg, #2173c5 17.96%, #1d91df 53.71%);
}
.HeadAddButton img{
    margin-right: 10px;
}
.HeadAddButton  span{
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}
.HeadPrintButton{
    cursor: pointer;
    width: 179px;  
    height: 50px;
     border-radius: 16px;
    border:none;
    background: #FFFFFFA1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.HeadPrintButton:hover{
    background: #5fb4ec;
}
.HeadPrintButton img{
    margin-right: 10px;
}
.HeadPrintButton span{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #0F5280;

    }
.HeadTitle h3{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#0F5380;
    
}
.Body{
   
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.HeadFilter{
    height: 0px;
    transition: 0.5s ease all;
    overflow: hidden;
    opacity: 0;
    white-space: nowrap;
}

.HeadFilter .FilterItems .FilterItem{
    height: 0;
    opacity: 0;
    transition: 0.3s;
}
.HeadFilteractive{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border-top: 1px solid #0F5380;
    transition: 0.5s ease all;
    display: flex;
    align-content: center;
}
.SearchButton{
    width: 100%;
    padding: 14px 30px;
    border: none;
    border-radius: 16px;
    background: #6FCCFF;
    box-shadow: 0px 4px 17px 0px #8693A740;
    cursor: pointer;
    margin-bottom: 9px;
    text-align: center;
}
.FilterItems{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
 
}
.FilterItem{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.FilterItem label{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #0F5380;


}
.FilterItem input{
    padding: 10px 10%;
    margin-bottom: 12px;
    border: none;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color:  #3797d6;
    background-color: #FFF;
    height: 40px;
    border-radius: 15px;
    display: block;
    width: 100%;
    transition: .5s;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    box-shadow: 0 0 12px #0d2e4e36;
}
.FilterItem input::placeholder {
        color: #D2D2D2;

}
.FilterItem input:focus {
       box-shadow: 0 0 12px #0d2e4e36;
        background-color: white;
        border: 1px solid #0F5380;
        color: #0F5380;

}
.FilterItem select{
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: #0F5380;
    margin-bottom: 12px;
    box-shadow: 0 0 12px #0d2e4e36;
}
.FilterItem select:focus{
    border: none;
    border: 1px solid white;
}

.FilterItem select option {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: 0em;
    text-align: left;
    padding: 20px 0;
    color: #0F5380;


}

.paginate {
    width: 100%;
    display: flex;
    justify-content: center;
}
.paginate nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: transparent;
    height: auto !important;
    justify-content: center;
    margin: 0 !important;
    align-items: center;
    padding: 0 !important;

}
    .Table{
        width: 100%;
        padding:  10px 0;
    }
    .Table table{
        width: 100%;
        border-collapse: collapse;
    }
    .TableHeada{
        width: 100%;
    }
    .TableHeada tr {
        width: 100%;
       
    }
    .TableHeada tr th {

        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        padding: 30px 0px;
        color: #6FCCFF;
       
    } 
    .TableBody {
        width: 100%;
    }
    .TableBodyFirstTd {
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }
    
    .TableBodyLastTd {
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
    }
    .TableBody  tr  td div{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        color: #0F5380;
        background: #E0F3FF57;
        padding: 20px;
        margin-bottom: 10px;
        /* border-radius: 18px; */
    }
    .TableBody  tr:hover  div {
        transform: scaleY(1.2);
        background: #FFFFFF;
        /* //box-shadow: 0px 0px 0px 1px #648BB02E; */

    }
    .Status1{
        border-radius: 12px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #54B766 !important; 
        background: #E0FFE585;
        padding: 5px 0;
    }
    .Status2{
        border-radius: 12px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #3DAFF0 !important;
        background: #6FCCFF30;
        padding: 5px 0;

    }
    .Status3{
        border-radius: 12px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;

        color: #FF4F84 !important;
        padding: 5px 0;
        background: #FF002E14;


    }
    .Status4{
        border-radius: 12px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #A4A4A4 !important;
        background: #a4a4a433;
        padding: 5px 0;

    }
    .HeadPrintMCup{
        width: 324px;
      height: 50px;
      border: none;
      border-radius: 16px;
      display: flex;
    align-items: center;
    justify-content: center;
    color: white;
      background: linear-gradient(77.62deg, #0D2E4F 2.96%, #0F5280 63.71%);
      box-shadow: 0px 4px 17px 0px #8693A740;
         margin-bottom: 20px;

    }
    .HeadPrintCup{
        background: #6FCCFF;
        box-shadow: 0px 4px 17px 0px #8693A740;
        width: 324px;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 16px;
        
    }
